@import url("../../theme/global.css");

.label {
  color: #4b4b4b;
}

.modal-container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  float: left;
  z-index: 1;
  visibility: hidden;
}

.modal-content{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%;
  justify-content: center;
}

.update-pass {
  background-color: #fff;
  padding: 0 50px 50px 50px;
  border-radius: 5px;
}

.update-pass img {
  margin: 0 auto;
}

.update-pass .input {
  background-color: #dbdbdb;
}

.botao {
  background-color: #8734d4;
  color: #fff;
}

.botao:hover {
  background-color: #9746e2;
  color: #fff;
}

.modal-content h5 {
  color: #4c0b8a;
  font-size: 1.5rem;
  text-align: center;
}

#bt_close{
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 5px 10px;
  font-size: 30pt;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

label {
  margin: 5px 0;
}

.content {
  display: flex;
  width: 100%;
  height: 80vh;
}

.conBox {   
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px 10px;
}
.conBox .form {
  width: 70%;
}

.form input {
  margin-left: 5px;
  width: 100%;
  color: #8734d4;
  border-bottom: 2px solid #661bad;
  background-color: transparent;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bolder;
  
}

.form .button {
  width: 50%;
  background-color: #8734d4;
  color: #fff;
  border-bottom: none;
  transition: 0.5s;
}

.botoes {
  width: 350px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.form .button:hover {
  border-radius: 10px 5px;
  background-color: #8b52c0;
}
