@import url("theme/global.css");

.title {
  color: #fff;
}

.pixie-span {
  font-family: 'pro-pixie', sans-serif;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.left-content figure {
  width: 300px;
}

.hero-body section {
  width: 85vw;
  display: flex;
  align-items: center;
}