@import url("theme/global.css");

.title {
  color: #fff;
}

.pixie-span {
  font-family: 'pro-pixie', sans-serif;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.left-content figure {
  width: 300px;
}

.is-container {
  background-image: url('assets/svgs/moon3.svg');
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position-y: 45vh;
  background-position-x: -45vw;
}

.hero-body section {
  width: 85vw;
  display: flex;
  align-items: center;
}

.assetsLink{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 10px;
}

.assetsLink:nth-child(1) {
  margin-bottom: 5px;
}

.assetsLink:hover {
  color: #fff;
}