@import url("../../theme/global.css");

.label {
  color: #fff;
}

.title{
  color: #fff;
}

.hero-body {
  background-image: url('../../assets/svgs/undraw_enter_uhqk.svg');
  background-size: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 3vw;
  background-position-y: 35vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
