@import url("../../theme/global.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grid Stylization */

section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100%;
  grid-template-areas: "menu content";
}
.menu {
  grid-area: menu;
  background: #2D0057;
  /* width: 370px; */
}
.content {
  grid-area: content;
  background: #4C0B8A;
  padding: 50px;
}

/* Menu Stylization */

.logo {
  font-family: arial;
  font-size: 30pt;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-bottom:57px;
}
.logo span{
  font-family: pro-pixie, Arial;
  font-weight: 700;
}

.boxLinks {
  margin-left: 40px;
  margin-bottom: 30px;
  font-family: Arial;
}
.linkTopic {
  color: #B5B5B5;
  margin-bottom: 15px;
  font-size: 13pt;
}
.link {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 12pt;
}
.link a {
  color: #fff;
  text-decoration: none;
}

/* Content Stylization */

