@font-face {
  font-family: 'pro-pixie';
  src: local(pro-pixie), url(../fonts/ProcrastinatingPixie-WyVOO.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

main {
  background-color: #4c0b8a;
}

a.navbar-item{
  color: #fff;
  transition: 0.2s;
}

.is-download-button {
  transition: 0.3s;
}

.is-download-button:hover {
  background-color: #4c0b8a;
  color: #fff;
}

a.navbar-item:hover {
  background-color: #fff3f3;
  color: #4c0b8a;
}

.title-codex{
  font-family: 'pro-pixie';
  color: #fff;
}

.userLog {

  display: flex;
  align-items: center;
  cursor: pointer;
  color: red;

}