@import url("../../theme/global.css");

.label {
  color: #4b4b4b;
}
.label span {
  color: #ff0000;
}
.title{
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

label {
  margin: 5px 0;
}

.content {
  display: flex;
  width: 100%;
  height: 80vh;
  
}

.imgBox {
  position: relative;
  width: 50%;
  height: 100%;
}
.imgBox img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}
.conBox {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.conBox .form {
  width: 80%;
}

.form input {
  margin: 10px 0;
  width: 100%;
  color: #8734d4;
  border-bottom: 2px solid #661bad;
  background-color: transparent;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bolder;
  
}

.form .button {
  width: 50%;
  background-color: #8734d4;
  color: #fff;
  border-bottom: none;
  transition: 0.5s;
}
.form .button:hover {
  border-radius: 10px 5px;
  background-color: #9d50e6;
  color: #3890d8;
}
